
.inherited-styles-for-exported-element {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  text-align: left;
}

::after, ::before {
  box-sizing: inherit;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

img, svg {
  vertical-align: middle;
}

svg {
  overflow: hidden;
}

label {
  display: inline-block;
  font-size: .75rem;
  line-height: 1.33em;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

select {
  appearance: none;
  font-style: italic;
  overflow-wrap: normal;
  text-transform: none;
}

.aibtn:not(:disabled):not(.disabled), [type=button]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-12 {
    max-width: 100%;
  }
}

.form-control:focus {
  background-color: #fff;
  border-color: #80bdff;
  box-shadow: rgba(0, 123, 255, .25) 0 0 0 .2rem;
  color: #495057;
  outline: 0;
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.form-check {
  display: block;
  position: relative;
}

.aibtn {
  text-align: center;
  user-select: none;
  vertical-align: middle;
}

.aibtn-primary:focus, .aibtn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.aibtn-primary:focus {
  color: #fff;
}

.aibtn-primary:disabled {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.aibtn-primary:not(:disabled):not(.disabled):active {
  background-color: #0062cc;
  border-color: #005cbf;
  color: #fff;
}

.aibtn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: rgba(38, 143, 255, .5) 0 0 0 .2rem;
}

.aibtn-dark:focus {
  border-color: #1d2124;
  color: #fff;
}

.aibtn-dark:disabled {
  background-color: #343a40;
  border-color: #343a40;
  color: #fff;
}

.aibtn-dark:not(:disabled):not(.disabled):active {
  background-color: #1d2124;
  border-color: #171a1d;
  color: #fff;
}

.aibtn-dark:not(:disabled):not(.disabled):active:focus {
  box-shadow: rgba(82, 88, 93, .5) 0 0 0 .2rem;
}

.fade {
  transition: opacity .15s linear;
  transition-behavior: normal;
}

@media (prefers-reduced-motion:reduce) {
  .fade {
    transition: none 0s;
    transition-behavior: normal;
  }
}

.fade:not(.show) {
  opacity: 0;
}

.close {
  float: right;
  text-shadow: #fff 0 1px 0;
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
  opacity: .75;
}

.modal {
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
}

.modal-content, .modal-dialog {
  pointer-events: none;
  position: relative;
  width: auto;
}

.modal.fade .modal-dialog {
  transform: translateY(-50px);
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  transition-behavior: normal, normal;
}

@media (prefers-reduced-motion:reduce) {
  .modal.fade .modal-dialog {
    transition: none 0s;
    transition-behavior: normal;
  }
}

.modal-content {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  width: 100%;
}

.modal-header {
  align-items: flex-start;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.modal-title {
  line-height: 1.5;
}

.modal-body {
  flex: 1 1 auto;
  padding: 1rem;
  position: relative;
}

.modal-footer {
  align-items: center;
  border-bottom-left-radius: calc(-1px + .3rem);
  border-bottom-right-radius: calc(-1px + .3rem);
  border-top: 1px solid #dee2e6;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: .75rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 50pc;
  }
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

* {
  box-sizing: border-box;
  color: #333;
  font-weight: 300;
  letter-spacing: normal;
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  outline: 0;
  padding: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  transition: color .3s;
  transition-behavior: normal;
}

a:active, a:hover {
  color: #0059b3;
}

img {
  border-style: none;
  display: block;
  height: auto;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

input {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
}

button, input {
  overflow: visible;
}

button, html [type=button] {
  appearance: button;
}

.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 1024px) {
  .col-md-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-12 {
    max-width: 100%;
  }
}

.aibtn, .aibtn:hover {
  text-decoration: none;
}

.aibtn {
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  align-items: center;
  appearance: none;
  background-color: #1e22aa;
  border-radius: .125rem;
  border-style: initial;
  border-width: 0;
  cursor: pointer;
  display: inline-flex;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  font-size: .875rem;
  justify-content: space-between;
  line-height: 1.0625rem;
  min-width: 9.375rem;
  padding: .875rem 1.25rem .875rem .9375rem;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  transition-behavior: normal;
  width: auto;
}

@media (max-width: 767px) {
  .aibtn {
    display: flex;
    width: fit-content;
  }
}

.aibtn:hover {
  color: #fff;
}

.aibtn:active {
  background-color: #151878;
  color: #fff;
}

.aibtn:focus, input[type=email]:focus, input[type=text]:focus {
  box-shadow: rgba(182, 216, 239, .6) 0 0 3px 3px;
  outline: 0;
}

.aibtn:disabled {
  cursor: not-allowed;
  opacity: .4;
}

input[type=email], input[type=text] {
  position: relative;
}

select:hover {
  color: #0073e6;
}

.hide, .salesforce-english-chat .zbrbot-hide {
  display: none !important;
}

footer {
  max-width: 100%;
  padding-top: 30px;
}

a:hover {
  text-decoration: none;
}

.salesforce-english-chat #zbrbot * {
  box-sizing: initial;
}

.salesforce-english-chat #zbrbot {
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  border-top-color: initial;
  border-top-style: initial;
  border-top-width: 0;
  box-shadow: rgba(0, 0, 0, .2) 2px 2px 20px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-feature-settings: normal !important;
  font-kerning: auto !important;
  font-optical-sizing: auto !important;
  font-size: 100% !important;
  font-variant: normal !important;
  font-variant-position: normal !important;
  font-variation-settings: normal !important;
  font-weight: 400 !important;
  line-height: 1.5em !important;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 10px;
}

.salesforce-english-chat #zbrbot.on {
  display: block;
  opacity: 1;
}

.salesforce-english-chat #zbrbot-chatwindow {
  bottom: 0;
  left: 0;
  margin: 2px;
  position: absolute;
  right: 0;
  top: 44px;
}

.salesforce-english-chat #zbrbot #close-icon button:disabled, .salesforce-english-chat #zbrbot #minimize-icon button:disabled, .salesforce-english-chat #zbrbot #refresh-icon button:disabled, .salesforce-english-chat #zbrbot .zbrbot-endchat button:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.salesforce-english-chat #zbrbot .aibtn, .salesforce-english-chat #zbrbot .aibtn-small {
  font-family: Arial, Helvetica, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-variant: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 400;
  line-height: 1.42857;
}

.salesforce-english-chat #zbrbot .aibtn {
  font-size: 14px;
  min-width: auto;
  padding: 5px 8px;
}

.salesforce-english-chat #zbrbot .aibtn-small {
  font-size: 13px;
}

.salesforce-english-chat #zbrbot .aibtn-primary:focus, .salesforce-english-chat #zbrbot .aibtn-primary:hover {
  box-shadow: #000 0 6px 18px -9px;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
  transition-behavior: normal, normal;
}

.salesforce-english-chat #zbrbot .aibtn-zbr:focus, .salesforce-english-chat #zbrbot .aibtn-zbr:hover {
  border-color: #00a7ff;
}

.salesforce-english-chat #zbrbot .aibtn-primary {
  background-color: #66caff;
  border-color: #66caff;
  color: #fff;
}

.salesforce-english-chat #zbrbot .aibtn-primary:focus, .salesforce-english-chat #zbrbot .aibtn-primary:hover {
  background-color: #00a7ff;
}

.salesforce-english-chat #zbrbot .aibtn-small.aibtn-endchat {
  padding: 6px 0 0;
}

.salesforce-english-chat #zbrbot .row {
  display: flex;
  flex-wrap: wrap;
}

.salesforce-english-chat #zbrbot .prefill-wrap {
  background-color: #fff;
  display: block;
  line-height: 1.5;
}

.salesforce-english-chat #zbrbot .form-control {
  background-color: #fff;
}

.salesforce-english-chat #zbrbot .col, .salesforce-english-chat #zbrbot .col-md-12 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.salesforce-english-chat #zbrbot .col-md-6 {
  min-height: 1px;
  position: relative;
}

.salesforce-english-chat #zbrbot .col {
  -webkit-box-flex: 1;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.salesforce-english-chat #zbrbot .form-control {
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition-behavior: normal, normal, normal;
}

.salesforce-english-chat #zbrbot .form-control-sm {
  border-radius: .2rem;
  font-size: .875rem;
}

.salesforce-english-chat #zbrbot .form-control:focus:not(.error) {
  border: 1px solid #005290;
  box-shadow: #005290 0 0 2px 0;
  outline: 0;
}

.salesforce-english-chat #zbrbot .form-select {
  position: relative;
}

.salesforce-english-chat #zbrbot .form-select::after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #005290;
  content: "";
  padding: 0 0 2px;
  pointer-events: none;
  position: absolute;
  right: -5px;
  top: calc(50% + 7px);
}

.salesforce-english-chat .zbrbot-icon::-webkit-input-placeholder {
  color: #848484;
}

.salesforce-english-chat .zbrbot-icon::placeholder {
  color: #848484;
}

.salesforce-english-chat .zbrbot-iconimg {
  background-size: cover;
}

.salesforce-english-chat #zbrbot .prefill-wrap {
  border: 1px solid transparent;
  border-bottom: 1px solid #e7e9eb;
  border-radius: 5px 5px 0 0;
  color: #333;
  cursor: pointer;
  font-size: .75rem;
  height: calc(100% - 44px);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.salesforce-english-chat #zbrbot .prefill-form .row {
  margin-left: 0;
  margin-right: 0;
}

.salesforce-english-chat #zbrbot .form-group {
  margin-bottom: 10px;
}

.salesforce-english-chat #zbrbot .form-group.form-check {
  padding-left: 0;
}

.salesforce-english-chat #zbrbot .prefill-form .form-control {
  border: 1px solid #949494;
  color: #333;
  display: inline-block;
  font-family: Arial, sans-serif;
  height: 30px !important;
  line-height: 30px;
  padding: 0 9pt;
}

.salesforce-english-chat #zbrbot .form-privacy-statement {
  font-family: Arial, sans-serif;
  font-weight: 510;
}

.salesforce-english-chat #zbrbot #zbrbot-loaderwrap, .salesforce-english-chat #zbrbot footer {
  color: #000;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-variant: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

.salesforce-english-chat #zbrbot #zbrbot-loaderwrap {
  font-family: Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin: 140px auto 0;
  text-align: center;
  width: 100%;
}

.salesforce-english-chat #zbrbot .zbrbot-loader img {
  display: block;
  margin: 0 auto;
  width: 20%;
}

.salesforce-english-chat #zbrbot .resize-icon {
  float: left;
  margin: 6px 6px 6px 5px;
}

.salesforce-english-chat #zbrbot .minimize-icon, .salesforce-english-chat #zbrbot .zbrbot-endchat {
  cursor: pointer;
  display: inline-block;
  float: right;
  margin: 6px 0;
  position: relative;
}

.salesforce-english-chat #zbrbot .reload-icon {
  cursor: pointer;
  float: right;
  margin: 6px 0;
  position: relative;
}

.salesforce-english-chat #zbrbot .zbrbot-minimize img, .salesforce-english-chat #zbrbot .zbrbot-reload img {
  margin-right: 9pt;
  width: 22px;
}

.salesforce-english-chat #zbrbot .zbrbot-endchat img {
  margin-right: 9px;
  width: 17px;
}

.salesforce-english-chat #zbrbot header {
  background-color: #333;
  border-bottom-color: initial;
  border-bottom-style: initial;
  border-left: 1px solid transparent;
  border-radius: 8px 8px 0 0;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: .9rem;
  height: 44px;
  position: relative;
  z-index: 1;
}

.salesforce-english-chat #zbrbot header .zbrbot-headaibtns {
  display: inline-block;
  height: 100%;
}

.salesforce-english-chat #zbrbot .zbrbot-headaibtns.float-middle {
  height: 100%;
}

.salesforce-english-chat #zbrbot .zbrbot-headaibtns.float-right {
  height: 100%;
  text-align: right;
}

.salesforce-english-chat #zbrbot header .zbrbot-headaibtns .aibtn-wrap {
  display: inline-block;
  margin-left: 4px;
  margin-top: 10px;
}

.salesforce-english-chat #zbrbot .modal-chat a, .salesforce-english-chat .zbrbot-icon {
  text-decoration: none;
}

.salesforce-english-chat #pleaseWaitDialog .loading {
  background-color: #fff;
  background-image: url(https://www.zebra.com/us/en/clientlib-site/css/chatbot/css/images/loading.gif);
  background-position: 50% center;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: none;
  height: 5pc;
  margin-left: 45%;
  margin-top: 20%;
  width: 5pc;
}

.salesforce-english-chat #zbrbot footer {
  border: 1px solid transparent;
  border-bottom: 1px solid #e7e9eb;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9em;
  line-height: normal;
  overflow: hidden;
}

.salesforce-english-chat #zbrbot #prefill-submit, .salesforce-english-chat #zbrbot #close-chatbot, .salesforce-english-chat #zbrbot .modal-footer button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  transition: background .4s;
  transition-behavior: normal;
}

.salesforce-english-chat #zbrbot .modal-footer button {
  background-color: #00a7ff;
  border-radius: 4px;
  border-style: initial;
  border-width: 0;
  box-shadow: none;
  color: #fff !important;
  display: initial;
  font-size: 1rem;
  height: 44px;
  letter-spacing: normal;
  margin-top: 0;
  padding: 0;
  position: relative;
  text-shadow: none;
  text-transform: none;
  width: calc(100% + 10px);
}

.salesforce-english-chat #zbrbot .modal-chatinit, .salesforce-english-chat #zbrbot footer {
  background-color: #fff;
  height: calc(100% - 40px);
}

.salesforce-english-chat #zbrbot .modal-chat, .salesforce-english-chat #zbrbot .modal-chatend, .salesforce-english-chat #zbrbot .modal-chatinit, .salesforce-english-chat #zbrbot .modal-closechat {
  border-bottom: 1px solid #e7e9eb;
  color: #000;
  cursor: pointer;
  font-size: .9em;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.salesforce-english-chat #zbrbot .modal-chatend, .salesforce-english-chat #zbrbot .modal-closechat {
  background-color: #fff;
  height: calc(100% - 40px);
}

.salesforce-english-chat #zbrbot .modal-endchat {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  font-size: .9em;
  overflow: hidden;
  z-index: 1;
}

.salesforce-english-chat #zbrbot .modal-chat {
  background-color: initial;
  background-position: 0 center;
  height: auto;
}

.salesforce-english-chat #zbrbot .modal-chat .row {
  margin-bottom: 6px;
}

.salesforce-english-chat #zbrbot .modal-chat img {
  height: 100%;
  width: 100%;
}

.salesforce-english-chat #zbrbot .modal-chat .col-md-6 {
  padding-left: 0;
  padding-right: 0;
  width: 50%;
}

.salesforce-english-chat #zbrbot .model-container {
  height: 100%;
}

.salesforce-english-chat #zbrbot .modal-content {
  border-style: initial;
  border-width: 0;
  height: 100%;
  margin: 0 auto;
}

.salesforce-english-chat #zbrbot .modal-header {
  background-color: #333;
  border-radius: unset;
  color: #fff;
  font-size: 1pc;
  text-align: center;
}

.salesforce-english-chat #zbrbot .modal-chat .modal-header {
  border-bottom-color: initial;
  border-bottom-style: none;
  border-bottom-width: initial;
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 1px;
}

.salesforce-english-chat #zbrbot .modal-lg {
  max-width: 100%;
}

.salesforce-english-chat #zbrbot .modal-chatinit .modal-header {
  height: 110px;
  padding-top: 20px;
}

.salesforce-english-chat #zbrbot .modal-title {
  color: #fff;
  text-align: center;
  width: 100%;
}

.salesforce-english-chat #zbrbot .modal-chatinit .modal-title {
  color: #333;
  font-size: 1pc;
  margin-bottom: 1pc;
}

.salesforce-english-chat #zbrbot .modal-chatinit .modal-body {
  left: 50%;
  margin: auto 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.salesforce-english-chat #zbrbot .modal-chatinit h2, .salesforce-english-chat #zbrbot .modal-chatinit p {
  color: #999;
  font-size: 1pc;
}

.salesforce-english-chat #zbrbot .modal-chatinit h2 {
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
  text-transform: inherit;
}

.salesforce-english-chat #zbrbot .modal-body {
  margin-bottom: 0;
  margin-top: 65px;
  text-align: center;
  vertical-align: middle;
}

.salesforce-english-chat #zbrbot .modal-chatend .modal-body {
  margin: 122px 45px 0;
}

.salesforce-english-chat #zbrbot .modal-chatend #display-content {
  margin: 0 auto;
  width: 90%;
}

.salesforce-english-chat #zbrbot .modal-chatend h5 {
  color: #ed4d1c;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .025em;
  line-height: 1.5;
  margin: 0;
  text-transform: uppercase;
}

.salesforce-english-chat #zbrbot .modal-chatend p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.salesforce-english-chat #zbrbot .modal-footer {
  border-style: initial;
  border-width: 0;
  bottom: 0;
  display: block;
  margin: 20px;
  position: absolute;
  width: calc(100% - 50px);
}

.salesforce-english-chat #zbrbot .modal-chat .modal-footer {
  background-color: #333;
  color: #ccc;
  letter-spacing: normal;
  margin: 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.salesforce-english-chat #zbrbot .modal-footer button:focus {
  outline: 0;
}

.salesforce-english-chat #zbrbot .modal-footer .zbraibtn-trans {
  background-color: initial;
  background-position: 0 center;
  color: #0074bd !important;
  margin-left: 0;
}

.salesforce-english-chat #zbrbot .modal-footer .zbraibtn-trans:hover {
  text-decoration: underline;
}

.salesforce-english-chat #zbrbot .modal-footer .zbraibtn-border {
  border: 2px solid #999;
}

.salesforce-english-chat #zbrbot .zbrchat-imgwrap {
  background-color: #fff;
  border-radius: 100%;
  color: #fff;
  height: 40px;
  margin: 0 auto;
  width: 40px;
}

.salesforce-english-chat #zbrbot .zbrchat-imgwrap .zbrchat-avator {
  background-color: #0074bd;
  border-radius: 100%;
  border-style: initial;
  border-width: 0;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  width: 40px;
}

.salesforce-english-chat #zbrbot .zbrbot-chatimg {
  display: initial;
  width: 70px;
}

.salesforce-english-chat #zbrbot .modal-endchat {
  border: initial !important;
  border-color: initial !important;
  border-image: initial initial initial initial initial !important;
  bottom: 0 !important;
  height: auto !important;
  margin-bottom: 0 !important;
  position: absolute !important;
  width: 100%;
}

.salesforce-english-chat #zbrbot .modal-endchat .modal-body {
  margin: 0 !important;
}

.salesforce-english-chat #zbrbot .modal-endchat .modal-footer {
  position: relative !important;
}

.salesforce-english-chat #zbrbot .modal-closechat .closeChat-content {
  font-size: 1pc;
  margin: 0 auto;
  overflow-wrap: break-word;
  padding-top: 75px;
}

.salesforce-english-chat #zbrbot.on {
  /*height: 540px;*/
  width: 386px;
}

.salesforce-english-chat #zbrbot .zbrbot-headaibtns.float-middle {
  overflow: hidden;
  text-align: center;
  text-wrap: nowrap;
  white-space-collapse: collapse;
}

.salesforce-english-chat #zbrbot #prefill-form {
  margin: 10px 24px 0 9pt;
  padding: 0 0 15px;
}

.salesforce-english-chat #zbrbot #prefill-submit,
.salesforce-english-chat #zbrbot #close-chatbot {
  background-color: #00a7ff;
  border-radius: 4px;
  border-style: initial;
  border-width: 0;
  box-shadow: none;
  color: #fff;
  display: initial;
  font-size: 1rem;
  height: 40px;
  letter-spacing: normal;
  margin: 10px 0 0;
  padding: 0;
  position: relative;
  text-shadow: none;
  text-transform: none;
  width: calc(100% + 10px);
}

.salesforce-english-chat #zbrbot .aibtn-small {
  padding: 4px 0;
}

.salesforce-english-chat #zbrbot .aibtn-dark, .salesforce-english-chat #zbrbot .aibtn-dark:hover {
  background-color: #333;
  border-style: initial;
  border-width: 0;
  opacity: .7;
}

.salesforce-english-chat #zbrbot .aibtn-dark:hover {
  opacity: 1;
}

.salesforce-english-chat #zbrbot .aibtn-dark:focus {
  background-color: inherit;
  box-shadow: inherit;
  outline: 0;
}

.salesforce-english-chat #zbrbot a {
  color: #0056b3;
}

.salesforce-english-chat #zbrbot .form-group label {
  margin-bottom: 0 !important;
}

.salesforce-english-chat #zbrbot .prefill-form .form-control {
  margin-bottom: 0;
  width: calc(100% - 17px);
}

.salesforce-english-chat #zbrbot .aibtn-zbr:focus, .salesforce-english-chat #zbrbot .aibtn-zbr:hover {
  background-color: #003156 !important;
  color: #fff;
  outline: 0;
}

.salesforce-english-chat #zbrbot .aibtn-zbr:hover {
  outline: 0;
}

.salesforce-english-chat #zbrbot .modal-closechat .closeChat-content p {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .025em;
}

.salesforce-english-chat #zbrbot p {
  color: #333d47;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 1pc;
  font-weight: 300;
  letter-spacing: .025em;
  line-height: 1.5;
}

.salesforce-english-chat #zbrbot .modal-body {
  margin-left: 24px;
  margin-right: 24px;
}

.salesforce-english-chat .zbrbot-icon {
  -webkit-box-align: center;
  align-items: center;
  background-color: #ffd200;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, .2) 0 2px 3px 1px;
  cursor: pointer;
  font-size: 14px;
  height: 34px;
  line-height: 1.5;
  max-width: 500px;
  position: fixed;
  left: 10px;
  text-align: center;
  vertical-align: middle;
  width: fit-content;
  z-index: 999;
}

.salesforce-english-chat #zbrbot {
  bottom: 10px;
  z-index: 999;
}

.salesforce-english-chat #zbrbot .resize-icon img {
  margin-left: 5px;
  width: 20px;
}

.salesforce-english-chat .zbrbot-iconimg {
  display: inline-block;
  float: left;
  height: 18px;
  line-height: 1;
  margin: 8px 10px !important;
  position: relative;
  vertical-align: top;
  width: 18px;
  z-index: 1;
}

.salesforce-english-chat .zbrbot-icon-txt {
  display: inline-block;
  float: left;
  font-weight: 500 !important;
  letter-spacing: 1px !important;
  margin-right: 10px !important;
  text-align: left;
  padding-top:8px;
}

.salesforce-english-chat .zbrbot-iconimg svg {
  height: 100%;
  width: 100%;
}

.salesforce-english-chat #zbrbot .container-fluid {
  width: 100%;
}

.salesforce-english-chat #zbrbot .col-md-12 {
  -webkit-box-flex: initial;
  flex-basis: initial;
  flex-grow: initial;
  flex-shrink: initial;
}

.salesforce-english-chat #zbrbot header .zbrbot-headaibtns.float-left {
  padding: 0;
  width: 12%;
}

.salesforce-english-chat #zbrbot header .zbrbot-headaibtns.float-middle {
  font-weight: 700;
  padding: 0;
  width: 68%;
}

.salesforce-english-chat #zbrbot header .zbrbot-headaibtns.float-middle .aibtn-wrap {
  font-weight: 700;
}

.salesforce-english-chat #zbrbot header .zbrbot-headaibtns.float-right {
  padding: 0;
  width: 20%;
}

.salesforce-english-chat #zbrbot header .aibtn-liveagent-wrap {
  color: #fff;
}

#zbrbot .form-group {
  text-align: left;
}

html {
  font-size: 16px;
  /* This is IMPORTANT since some copied values use "REM" units */
}  


  df-messenger {
    z-index: 999;
    position: fixed;
    --df-messenger-font-color: #000;
    --df-messenger-font-family: Google Sans;
    --df-messenger-chat-background: #f3f6fc;
    --df-messenger-message-user-background: #d3e3fd;
    --df-messenger-message-bot-background: #fff;
    bottom: 0;
    right: 0;
    top: 0;
    width: 350px;
  }
