/*
    File        : dcs_styles.css
    Description : DCS content specific styles
    Author      : Eranga Tennakoon - GQCD86 
*/

/*
    Common table style for all the content
*/

table.hovertable {
    /*font-family: verdana,arial,sans-serif;
    font-size:11px;*/
    color:#333333;
    border-width: 1px;
    border-color: #000000;
    border-collapse: collapse;
}
table.hovertable th {
    background-color:#d1d4d5;
    border-width: 1px;
    padding: 4px;
    border-style: solid;
    border-color: #000000;
    text-align: center;
}
table.hovertable tr {
    /*background-color:#d4e3e5;*/
}
table.hovertable td {
    border-width: 1px;
    padding: 4px;
    border-style: solid;
    border-color: #000000;
    vertical-align: top;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
    Arrange the support scanners list in two columns for a clear visibility.
    IE not supporting (avoiding JSs) and list in a single column.
*/
ul#scanners_list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.tile-img {
    height: 200px;
    border: 2px solid #2A95BE;
    border-radius: 10px;
    background-size: cover;
    -ms-behavior: url(/backgroundsize.min.htc);
    /* max-width: 1200px;*/
}

.tile-title {
    border-bottom: #000000;
}

.tile-description {
    height: 70px;
    overflow: hidden;
    margin-bottom: 5px;
}

.tile-background {
    margin-bottom: 12px;
    padding: 13px;
    background: #eeeeee;
    border: 2px solid #eeeeee;
    transition: border-color 400ms;
    -webkit-transition: border-color 400ms;
    height: 420px;
}