title: portal
type: object
description: Reader settings for portal mode.
properties:
  startTrigger:
    type: object
    description: The GPI trigger to start reads on the portal
    properties:
      port:
        type: integer
        description: The GPI port to signal
      signal:
        type: string
        enum:
          - HIGH
          - LOW
        description: The signal value for the trigger
  stopInterval:
    type: integer
    description: The interval (in seconds) at which to stop reads after the last unique tag is read.
