
<!DOCTYPE html>
<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Online Documentation for Zebra Technologies developer tools and utilties, including EMDK for Android, EMDK for Xamarin, StageNow and Enterprise Browser.">
    <meta name="author" content="Zebra Technologies">
    <meta name="google-site-verification" content="i4B78BrWnNy8ShJwe5feRW3jO3HE6gfYlYqYbxfl8yY">
    <meta name="msvalidate.01" content="6B651B00161BCE79B8950AC09D5C4C75">
    <meta title="Xamarin Component Install">
    <title>Xamarin Component Install - TechDocs</title>
    <!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
<!--     
    <link href="/css/font-awesome.min.css" rel="stylesheet">
 -->    
    <link href="/css/all.css" rel="stylesheet">
    <link href="/css/v4-shims.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.transitions.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/prettify.css" rel="stylesheet">
    <link href="/css/bootstrap-treenav.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]--> 

    <!-- 6/13/24- a "crown" icon randomly appeared in the MX matrix today. Rob said it looked like sumo. 
        <script src="//load.sumome.com/" data-sumo-site-id="699cb66cf4dc59352efb45705526d15cbe314e1cd43f7761b94d96f3cf7338e8" async="async"></script> -->
    <link rel="shortcut icon" href="/favicon.ico">
<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-01QJCMQM9N"></script><script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-01QJCMQM9N');
</script><script src="/js/jquery.js"></script></head><!--/head-->

<!-- Google tag -->





<body id="home" class="homepage" data-spy="scroll" data-offset="100" data-target="#toc">

    <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo" style="max-height:66px;float: inherit;
    padding-right: 3px;"></a> 
                    
                   
                </div>
                <div class="collapse navbar-collapse navbar-left">
                    <ul class="nav navbar-nav">
                        <li class="navbar-text pull-left"><strong>TechDocs</strong></li>
                        <p class="navbar-text">
                                            EMDK For MAUI/Xamarin
                                            10.0
                        </p>

                    </ul>
                </div>
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        


                        <li>
                            <a href="/emdk-for-xamarin/10-0/guide/about">
                                    About
                            </a>
                        </li>
                        <li>
                            <a href="/emdk-for-xamarin/10-0/guide/gettingstarted">
                                    Get Started
                            </a>
                        </li>
                        <li>
                            <a href="/emdk-for-xamarin/10-0/tutorial/">
                                    Tutorials
                            </a>
                        </li>
                        <li>
                            <a href="/emdk-for-xamarin/10-0/samples">
                                    Samples
                            </a>
                        </li>
                        <li>
                            <a href="/emdk-for-xamarin/10-0/guide/programming-guides">
                                    Guides
                            </a>
                        </li>
                        <li>
                            <a href="/emdk-for-xamarin/10-0/guide/profile-manager-guides">
                                    Profile Manager
                            </a>
                        </li>
                        <li>
                            <a href="/emdk-for-xamarin/10-0/faq">
                                    FAQs
                            </a>
                        </li>
                        <li>
                            <a href="/emdk-for-xamarin/10-0/api">
                                    APIs
                            </a>
                        </li>
                        <li>
                            <a href="https://developer.zebra.com/forum/search?keys=&amp;field_zebra_curated_tags_tid%5B%5D=184">
                                    <i class="fa fa-comments-o"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/emdk-for-xamarin/10-0/search">
                                    <i class="fa fa-search"></i>
                            </a>
                        </li>
                        
                        <!-- <li ><a href="/products">SDKs</a></li>
                        <li ><a href="/samples">Samples</a></li>
                        <li ><a href="/guides">Guides</a></li>
                        <li ><a href="/tutorials">Tutorials</a></li>
                        <li ><a href="/apis">APIs</a></li> -->
                        <!-- <li><a href="#"><input type="text" class="st-default-search-input"></a></li> -->
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->
<div class="container-fluid">
    <section id="blog">
        <div class="">
            <section class="content-with-sidebar">
            <div class="row">
                <div class="col-sm-3 hidden-sm hidden-xs" id="sidebar">
                    
                    
                    <nav id="toc" data-toggle="toc" data-spy="affix" style="height: 75%; max-width: 225px; overflow-y: auto; ">
                        
                        <ul class="nav">
                            <li><strong>Xamarin Component Install</strong></li>
                        </ul>
                    </nav>
                    <div class="modal fade" id="modal-smartdocs" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" data-backdrop="true">
                    	<div class="modal-dialog">
                    		<div class="modal-content">
                    			<div class="modal-header">
                    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    			</div>
                    			<div class="modal-body">
                    				<form>
                    				  <div class="form-group">
                    				    <label for="exampleInputEmail1">MX Version On Device:</label>
                    				    <select class="form-control">
                    					  <option value="4.0">4.0</option>
                    					  <option value="4.1">4.1</option>
                    					  <option value="4.2">4.2</option>
                    					  <option value="4.3">4.3</option>
                    					  <option value="5.0">5.0</option>
                    					</select>
                    				  </div>						
                    				  <div class="form-group">
                    				    <label for="exampleInputEmail1">OSX Version On Device:</label>
                    				    <select class="form-control">
                    					  <option value="1.0">1.0</option>
                    					  <option value="1.2">1.2</option>
                    					  <option value="1.3.4-56">1.3.4-56</option>
                    					  <option value="3.4">3.4</option>
                    					  <option value="3.5">3.5</option>
                    					  <option value="3.6">3.6</option>
                    					  <option value="4.1">4.1</option>
                    					  <option value="4.2">4.2</option>
                    					  <option value="4.3">4.3</option>
                    					  <option value="4.4">4.4</option>
                    					</select>
                    				  </div>						
                    				  <div class="form-group">
                    				    <label for="exampleInputEmail1">Android Version On Device:</label>
                    				    <select class="form-control">
                    					  <option value="23">6.0 Marshmallow</option>
                    					  <option value="22">5.1 Lollipop</option>
                    					  <option value="21">5.0 Lollipop</option>
                    					  <option value="19">4.4 Kitkat</option>
                    					  <option value="18">4.3 Jellybean</option>
                    					  <option value="17">4.2.x Jellybean</option>
                    					  <option value="16">4.1.x Jellybean</option>
                    					  <option value="15">4.0.3-4.0.4 Ice Cream Sandwich</option>
                    					  <option value="14">4.0-4.0.2 Ice Cream Sandwich</option>
                    					  <option value="10">2.3.3-2.3.4 Gingerbread</option>
                    					</select>
                    				  </div>
                    				  <div class="form-group">
                    				  	<button class="primary" id="btn_SaveSmartDocOptions">Save Changes</button><button class="primary" id="btn_ClearSmartDocOptions">Clear Changes</button>
                    				  </div>
                    				</form>
                    			</div>
                    	</div>
                      </div>
                    </div>
                    
                    <script type="text/javascript">
                        $(document).ready(function() {
                        	$( "#btn_SaveSmartDocOptions" ).click(function() {
                      			console.log('Saving Options');
                      			$("#modal-smartdocs").modal({show: false});
                    		});
                        	$( "#btn_SaveSmartDocOptions" ).click(function() {
                      			console.log('Clearing Options');
                      			$("#modal-smartdocs").modal({show: false});
                    		});
                        });
                    </script><link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.3.0/dist/bootstrap-toc.min.css">
                    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.3.0/dist/bootstrap-toc.min.js"></script>
                    <script type="text/javascript">
                        $(document).ready(function() {
                    
                        });
                    
                    
                    </script>
                </div>                
                <div class="col-sm-9 ">
                    <div class="row">
                        <div class="col-sm-12">
                            <section id="cta" class="wow fadeIn">
                                <div class="">
                                    <h1 id="xamarin-component-install" class="anchor"><a class="heading-anchor" href="#xamarin-component-install"><span></span></a>Xamarin Component Install</h1>
                                    <p>
                                            EMDK For MAUI/Xamarin
                                            10.0
                                    </p>
                                </div>
                            </section>                    
                        </div>
                    </div>
                    <div id="mainContent" class="row">
                        <div class="col-sm-12">
                            <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                            <!-- Start of guide -->
                                <div class="service-box wow fadeInRight">
                                    <div class="">

                                        <p></p><p>The Xamarin Component part of the EMDK includes the API libraries that you will use in your Android application. You must install the component and add it to your android project before being able to use the APIs.</p>

<h2 id="watchthisguide" class="anchor"><a class="heading-anchor" href="#watchthisguide"><span></span></a>Watch This Guide</h2>

<p><img src="../../../images/video.png" alt="yt:jDZlBYd8qPk"></p>

<h2 id="installingthexamarincomponent" class="anchor"><a class="heading-anchor" href="#installingthexamarincomponent"><span></span></a>Installing the Xamarin Component</h2>

<p>After adding the <a href="/emdk-for-xamarin/10-0/gui/vs/setup">Visual Studio Extension</a> or <a href="/emdk-for-xamarin/10-0/guide/xs/setup">Xamarin Studio Add-in</a>, you must install the EMDK for Xamarin component so it can be accessible from your projects.</p>

<blockquote>
  <p>Note: This needs to only be performed once for the IDE. After the component is installed to the IDE, you must follow the steps below, in the <code>Enabling for Android Projects</code> section, for each project to enable the component.</p>
</blockquote>

<ol>
<li><p>Select <code>EMDK\Add Xamarin Component</code> from the menu.</p>

<p><img src="../../../images/component/menu-install.jpg" alt="img"></p></li>

<li><p>After the component is installed, you will see this dialog:</p>

<p><img src="../../../images/component/installed-dialog.jpg" alt="img"></p></li>
</ol>

<h2 id="enablingforandroidprojects" class="anchor"><a class="heading-anchor" href="#enablingforandroidprojects"><span></span></a>Enabling for Android Projects</h2>

<p>Once the Xamarin Component has been installed to the IDE, you need to add it to your Android project.</p>

<ol>
<li><p>Create or Open an Android based project.</p></li>

<li><p>Right click on the Project's <code>Component</code> folder in the <code>Solution Explorer</code>.</p></li>

<li><p>Choose <code>Edit Components</code></p>

<p><img src="../../../images/vs/edit-components.png" alt="img"></p></li>

<li><p>You must be logged into your Xamarin account in order to add the component.</p>

<p><img src="../../../images/component/login.png" alt="img">
<img src="../../../images/component/login-complete.png" alt="img"></p></li>

<li><p>Choose <code>Add to Project</code> in the <code>EMDK For Xamarin</code> item of the <code>Installed on this machine</code> section. Be sure to pay attention to the version number you are adding, you may have multiple versions of the component installed. See the section below for instructions how to remove components.</p>

<blockquote>
  <p>NOTE: When multiple versions of the EMDK for Xamarin component are installed, all versions of the component will be visible in the <strong>Edit Components</strong> screen for your project.</p>
</blockquote>

<p><img src="../../../images/component/add.jpg" alt="img"></p></li>



<li><p>The EMDK Component is now installed and listed in the projects <code>Component</code> folder.</p>

<p><img src="../../../images/component/installed.png" alt="img"></p></li>

<li><p>Clicking on the <code>Details</code> link in the projects <code>Edit Components</code> page will give you access to more details about the component, like version information, documentation and samples. Check the <a href="/emdk-for-xamarin/10-0/guide/sample/about">Samples Guide</a> for instructions to access more sample projects.</p>

<p><img src="../../../images/component/details.jpg" alt="img"></p></li>
</ol>

<p>The component and EMDK for Xamarin APIs are now accessible in your application. To understand how to use the APIs, view source of one of our <a href="/emdk-for-xamarin/10-0/guide/sample/about">sample projects</a> or <a href="/emdk-for-xamarin/10-0/tutorial/index">follow a tutorial</a>.</p>

<h2 id="removingfromandroidprojects" class="anchor"><a class="heading-anchor" href="#removingfromandroidprojects"><span></span></a>Removing from Android Projects</h2>

<p>You can disable the EMDK for Xamarin component from a project, however please note that this does not permanently remove the component from the project cache or system. If you wish to permanently remove the component, please follow these instructions and the complete the steps in the <code>Uninstalling</code> section</p>

<ol>
<li><p>Open an Android based project.</p></li>

<li><p>Right click on the Project's <code>Component</code> folder in the <code>Solution Explorer</code>.</p></li>

<li><p>Choose <code>Edit Components</code>.</p>

<p><img src="../../../images/vs/edit-components.png" alt="img"></p></li>

<li><p>Choose <code>Remove</code> in the <code>EMDK For Xamarin</code> item of the <code>Included in this project</code> section.</p>

<p><img src="../../../images/component/remove.jpg" alt="img"></p></li>
</ol>

<blockquote>
  <p>Note: If the <code>Symbol.XamarinEMDK</code> library has not been removed from the projects references folder from previous steps, you can manually delete it.  </p>
</blockquote>

<p><img src="../../../images/component/references.jpg" alt="img"></p>

<h2 id="uninstallingcomponents" class="anchor"><a class="heading-anchor" href="#uninstallingcomponents"><span></span></a>Uninstalling Components</h2>

<p>When a Xamarin Component is installed to either Visual Studio or Xamarin Studio, it will be available to add to all projects. The component binaries are copied to a shared location and can only be removed manually. Additionally, after a component has been added to an Android project, the project folder will contain a cached version of the component even if you removed it from the project. To permanently clear your system of the component files you must follow the steps below:</p>

<h3 id="1removefromide" class="anchor"><a class="heading-anchor" href="#1removefromide"><span></span></a>1) Remove from IDE</h3>

<p>For Windows, the installed components can be found in two folders:</p>

<ol>
<li><p>Delete the <code>emdk-component-&lt;version&gt;.*</code> files in: <code>C:\Users\&lt;username&gt;\AppData\Local\Xamarin\Cache\Components</code></p>

<p><img src="../../../images/component/cache.jpg" alt="img"></p></li>

<li><p>Delete the <code>emdk-component-&lt;version&gt;.*</code> files in <code>C:\Users\&lt;username&gt;\AppData\Local\Xamarin\Cache\ComponentInfo</code></p>

<p><img src="../../../images/component/cache-info.jpg" alt="img"></p></li>
</ol>

<p>For Mac, the same files can be found in:</p>

<ul>
<li><code>/Users/&lt;username&gt;/Library/Caches/Xamarin/Components</code></li>

<li><code>/Users/&lt;username&gt;/Library/Caches/Xamarin/ComponentInfo</code></li>
</ul>

<h3 id="2removefromandroidprojects" class="anchor"><a class="heading-anchor" href="#2removefromandroidprojects"><span></span></a>2) Remove from Android Projects</h3>

<p>Each project will cache the version of the component you have added within your project folder. Even after removing the component from your project using the IDE (mentioned above), the component files will remain inside your project folder.</p>

<ol>
<li><p>Open your project solution folder.</p>

<p><img src="../../../images/component/project-folder.jpg" alt="img"></p></li>

<li><p>Open the project <code>Components</code> folder and delete the <code>emdk-component-&lt;version&gt;.*</code> files and folder.</p>

<p><img src="../../../images/component/project-folder-component.jpg" alt="img"></p></li>
</ol><p></p>
                                        


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!--/.col-sm-6-->
            </div>
            </section>
        </div>
    </section>    

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" data-backdrop="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
					</div>
					<div class="modal-body">
						<div id="modalImg">
						
						</div>
					</div>
			</div>
		  </div>
		</div> </div>
         <footer id="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10">
                        ZEBRA and the stylized Zebra head are trademarks of Zebra Technologies Corp., registered in many jurisdictions worldwide. All other trademarks are the property of their respective owners. ©2025 Zebra Technologies Corp. and/or its affiliates.<br> <a href="https://www.zebra.com/us/en/about-zebra/company-information/legal.html">Legal</a> | <a href="https://www.zebra.com/us/en/about-zebra/company-information/compliance/information-privacy/terms-of-use.html">Terms of Use</a> | <a href="https://www.zebra.com/us/en/about-zebra/company-information/legal/privacy-statement.html">Privacy Policy</a> 
                    </div>
                     <!--
                     <div class="col-sm-2">
                        <ul class="social-icons">
                            <li><a href="http://www.facebook.com/pages/Zebra-Technologies/107703715989073"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/ZebraDevs"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="http://www.youtube.com/zebratechnologies/"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="https://www.linkedin.com/groups?home=&gid=3220074&trk=anet_ug_hm&goback=%2Egmr_3220074"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://github.com/developer-zebra"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div> -->
                 </div>
            </div>
        </footer>
    
    <!--/#footer 
        10/25/18 removed <footer id="footer" class="navbar-fixed-bottom">
    -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/mousescroll.js"></script>
    <script src="/js/smoothscroll.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/jquery.inview.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/bootstrap-treenav.min.js"></script>
    <script src="/js/prettify.js"></script>
    <script src="/js/zepto.js"></script>
    <script src="/js/jquery.waterfall.js"></script>   
    <script src="/js/main.js"></script>

<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

  _st('install','zRzEsAUhWTTkrdEN2YfA','2.0.0');
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72584442-1', 'auto');
  ga('send', 'pageview');

</script> 

<script>
    ChatraID = 'QDvZ76min4DhLW5vJ';
    (function(d, w, c) {
        var n = d.getElementsByTagName('script')[0],
            s = d.createElement('script');
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        s.async = true;
        s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
            + '//call.chatra.io/chatra.js';
        n.parentNode.insertBefore(s, n);
    })(document, window, 'Chatra');
</script>         


</body></html>